{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
  },
  "plugins": [
    "react",
    "customrules"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true,
    "commonjs": true
  },
  "parser": "babel-eslint",
  "rules": {
    "customrules/use-for": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-did-update-set-state": 2,
    "react/no-is-mounted": 2, //
    "react/jsx-no-duplicate-props": 2,
    "jsx-quotes": [2, "prefer-double"],
    "indent": [2, 4, {"SwitchCase" : 1}],
    "quotes": [2, "single"],
    "semi": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty": 2,
    "no-empty-character-class": 2,
    "no-ex-assign": 2,
    "no-extra-semi": 2,
    "no-inner-declarations": 2,
    "no-sparse-arrays": 2,
    "no-unexpected-multiline": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "valid-jsdoc": 2,
    "valid-typeof": 2,
    "block-scoped-var": 2,
    "curly": 2,
    "default-case": 2,
    "dot-location": [2, "property"],
    "dot-notation": [2, {"allowPattern": "^[a-z]+(_[a-z]+)+$"}],
    "eqeqeq": 2,
    "guard-for-in": 2,
    "no-caller": 2,
    "no-else-return": 2,
    "no-eval": 2,
    "no-fallthrough": 2,
    "no-implied-eval": 2,
    "no-lone-blocks": 2,
    "no-native-reassign": 2,
    "no-proto": 2,
    "no-script-url": 2,
    "no-self-assign": 2,
    "no-self-compare": 2,
    "no-unused-expressions": 2,
    "no-with": 2,
    "vars-on-top": 2,
    "wrap-iife": [2, "outside"],
    "no-delete-var": 2,
    "no-undef": 2,
    "no-unused-vars": 2,
    "block-spacing": [2, "always"],
    "camelcase": [1, {"properties": "never"}],
    "comma-spacing": [2, {"before": false, "after": true}],
    "comma-style": [2, "last"],
    "computed-property-spacing": [2, "never"],
    "keyword-spacing": [2, {"before": true, "after": true, "overrides": {}}],
    "newline-after-var": [2, "always"],
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "no-multiple-empty-lines": [2, {"max": 3, "maxEOF": 1}],
    "one-var": [2, {
      "var": "always",
      "let": "always",
      "const": "never"
    }],
    "one-var-declaration-per-line": [2, "always"],
    "space-before-blocks": [2, "always"],
    "arrow-spacing": [2, { "before": true, "after": true }],
    "generator-star-spacing": [2, {"before": false, "after": true}]
  }
}
