.input-group {
    padding: 0 0 20px;
    position: relative;
    .icon-search {
        position: absolute;
        left: 17px;
        top: 14px;
    }
}

.form-control {
    display: block;
    width: 100%;
    height: 46px;
    padding: 10px 12px 10px 43px;
    font-size: 14px;
    line-height: 1.4;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 23px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    &:focus {
        outline: none;
    }
}
