.feed-holder {
    max-width: 500px;
    margin: 0 auto 30px;
    h1 {
        text-align: center;
        color: #205CF0;
        margin: 0 0 30px;
        font-family: Galada, sans-serif;
    }
}
